*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build artifacts
*.zip
*.log
/build_info.txt
/build_output.txt
/app_properties.txt
/clean_build.log
/info_build.log
/info_build_nodaemon.log
